.container {
  display: flex;
  padding: 0.5rem;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  background-color: rgb(228, 227, 227);
  padding-bottom: 5rem;

  .content-list {
    width: 80%;
  }
  .new-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  tr { 
    line-height: 3rem;
    
  }

  @media(max-width: 900px) {
    tr {
        font-size: 12px;
    }
  }
}

.table-response{
  width: 100%;
  overflow-x: auto;
}
